/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 20px;
  border: 3px solid rgba(11, 7, 119, 0.321);
}

*:hover {
  scrollbar-color: rgb(7,171,236) transparent;
}