/* header.module.css */

.container {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  padding: 2rem;
}

.appBar {
  text-align: center;
  border-radius: 2.5rem;
  width: 90% !important;
  background-color: azure !important;
  color: rgba(0,183,255, 1) !important;
  outline: invert;
  margin-right: 50px;
}

.boxCard {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

.cardDivGrid::-webkit-scrollbar {
  width: 12px;               /* width of the entire scrollbar */
}

.cardDivGrid::-webkit-scrollbar-track {
  background: orange;        /* color of the tracking area */
}

.cardDivGrid::-webkit-scrollbar-thumb {
  background-color: blue;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 3px solid orange;  /* creates padding around scroll thumb */
}