.clearButton {
  margin-left: unset !important;
  background-color: red !important;
}

.clearButton:hover {
  background-color: brown !important;
}

.creatingMemoryCard {
  max-width: 500px;
  max-height: 600px;
  overflow-x: auto;
}